.App {
  width: fit-content;
  min-height: 100vh;
  margin: 20px auto 40px auto;
  text-align: center;
}

.App-logo {
  // animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  // background-color: #282c34;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.room-block {
  width: 100%;
  display: block;
  text-align: left;
  &__form {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    &__room--container {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__room--wrapper {
      // width: 100px;
      height: fit-content;
      display: inline-flex;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
    }
    &__submit {
      background-color: #dbdbe3;
    }
  }
}
