.room-request-form {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  &__room__container {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .room-request-form__room__wrapper {
      display: inline-block;
      width: 24%;
      flex-basis: 75px;
      margin: 0;
      margin-right: 10px;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-right: 0;
        align-self: auto;
      }
    }
  }
  &__submit {
    background-color: #dbdbe3;
  }
}
