.room {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: space-around;
  font-size: 9px;
  &__disabled {
    border: solid 5px #cdd0df;
    background-color: #dbdbe3;
  }
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    input {
      margin-right: 5px;
    }
  }
  &__requests {
    &__active {
      background-color: #ffffff;
    }
  }
}
.room__dropdown {
  // height: 20px;
}

.Dropdown-disabled {
  background-color: #f0f0f0;
}
