.room {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: solid 5px #e7e7e7;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: space-around;
  font-size: 9px;
  &__disabled {
    border-color: #cdd0df;
    background-color: #dbdbe3;
  }
  &__valid {
    border: solid 5px green;
  }
  &__invalid {
    border: solid 5px red;
  }
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    input {
      margin-right: 5px;
    }
  }
  &__requests {
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    &__active {
      background-color: #ffffff;
    }
    div[role="group"] {
      width: 45%;
    }
    &__dropdown {
      .Dropdown-disabled {
        background-color: #f0f0f0;
      }
    }
  }
}
